.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal__content {
  background: white;
  padding: 30px;
  border-radius: var(--radius);
  animation: zoom 0.4s ease;
}

@keyframes zoom {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
